body
{
    font-family: 'Montserrat', sans-serif;
    margin-top: 5em;
}

.navbar-brand
{
    transition: 0.2s;
}

.navbar-brand:hover
{
    transform: scale(1.15);
}

h4
{
    text-align: center;
    margin-bottom: 30px;
}

.paragraph
{
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    justify-content: center;
    text-align: justify;
}

.hyperlink
{
    text-decoration: none;
    color: #d85300;
    font-weight: bold;

}

.paragraph p
{
    max-width: 650px;
}

hr
{
    color: #d85300;
}

.center-section
{
    display: flex;
    justify-content: center;
}

#accordionParent
{
    width: 100%;
    max-width: 800px;
}

.navbar-toggler
{
    border: none;
}

.navbar-toggler-icon
{
    width: 25px;
}

.topics {
    margin: 2rem;
    padding-top: 4.1rem;
}

.menu-button
{
    color: #d85300;
    font-size: large;
}

i
{
    color: #d85300;
}

footer
{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 46px;
    background: #d85300;
}

.footer-i
{
    width: 50px;
    height: 50px;
    padding: 9px 4px;
    margin: 10px;
    text-align: center;
    display: inline-block;
    border-radius: 100%;
    border: 2px solid white;
    color: white;
    font-size: 30px;
    text-decoration: none;
    transition: 0.2s;
}

.footer-i:hover
{
    background-color: white;
    color: #d85300;
}

.row
{
    max-width: 1000px;
}

#bg-img
{
    padding-top: 130px;
    width: 100%;
    max-width: 500px;
    height: auto;
}

.about-desc
{
    color: white;
}

.orange-bg
{
    padding-top: 80px;
    padding-bottom: 50px;
    background-color: #d85300;
    padding-left:-50px;
    padding-right: -50px;
}

#about-card
{
    transition: transform .2s;
    max-width: 350px;
}

#about-card:hover
{
    transform: scale(1.05);
}

#card-col
{
    display: flex;
    justify-content: center;
}

/* Project cards */

#proj-card
{
    border: none;
    display: flex;
    justify-content: center;
}

#proj-overlay, #proj-card>img
{
    transition: .3s;
    aspect-ratio: 4/3;
    max-height: 400px;
    max-width: 100%;
}

#proj-overlay
{
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    opacity: 0;
    align-items: center;
    justify-content: center;
}

#proj-card:hover #proj-overlay
{
    opacity:1
}

#proj-card:hover img
{
    filter: blur(4px);
}

#proj-row
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.modal-image .modal-body
{
    background: rgba(0, 0, 0, 0.91);
}

.modal-image .modal-body .img-h
{
    aspect-ratio: 16/9;
    max-height: 800px;
}

.image-prev
{
    width:70px;
    aspect-ratio: 4/4;
}

.bi-arrow-left, .bi-arrow-right
{
    color: grey;
    background-color: transparent;
    border: none;
}

.modal-header
{
    background-color: #d85300;
}

.modal-content
{
    border: none;
}

.modal-title
{
    color: white;
}

/* Contact form */

 input[type=text], select, textarea
 {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  #form-container
  {
    max-width: 700px;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
  }

/* Interests */

#carouselInterests
{
    max-width: 1000px;
}

.carousel-caption
{
    background-color: rgba(0, 0, 0, 0.5);
}